<?xml version="1.0" encoding="utf-8"?>
<configuration>	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

	<connectionStrings>
		<add name="DatabaseContext" connectionString="Data Source=VM006\DEV;Initial Catalog=MyPemic;Integrated Security=False;User ID=myPemic_dev;Password=JujT0ng" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>

</configuration>
